.DS_Store
dist
package-lock.json
.github/workflows/playwright.yml

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Apophasis
apophasis-report
apophasis.log