# Source
src/

# Config & tooling
tsconfig.json
playwright.config.ts

# Tests
tests/
__tests__/
*.spec.ts
*.test.ts

# Local/dev files
node_modules/
.gitignore

# Logs & env
*.log
.env
.env.*

# OS / editor junk
.DS_Store
.vscode/
.idea/

# CI / metadata
.github/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Apophasis
apophasis-report

# Coverage
coverage/
.nyc_output/

# TS build cache
*.tsbuildinfo

# Temp
*.tmp
*.temp